<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
<!--     <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
 -->
     <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <% include ../partials/nav_bar %>

<div class="container">

      <!-- The justified navigation menu is meant for single line per list item.
           Multiple lines will require custom code not provided by Bootstrap. -->
      <div class="masthead">
        <h3 class="text-muted">Project name</h3>
        <nav>
          <ul class="nav nav-justified">

          </ul>
        </nav>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="col-lg-4">
          <div class="card" style="width: 20rem;">
            <img class="card-img-top" src="nick.jpg" alt="Card image cap">
            <div class="card-block">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Comment</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card" style="width: 20rem;">
            <img class="card-img-top" src="steve.jpg" alt="Card image cap">
            <div class="card-block">
              <h4 class="card-title">Steve</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Comment</a>
            </div>
          </div>
       </div>
        <div class="col-lg-4">
          <div class="card" style="width: 20rem;">
            <img class="card-img-top" src="bill.jpg" alt="Card image cap">
            <div class="card-block">
              <h4 class="card-title">Bill</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Comment</a>
            </div>
          </div>
        </div>
      </div>

      <!-- // SECOND ROW -->
            <div class="row">
        <div class="col-lg-4">
          <div class="card" style="width: 20rem;">
            <img class="card-img-top" src="nick.jpg" alt="Card image cap">
            <div class="card-block">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Comment</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card" style="width: 20rem;">
            <img class="card-img-top" src="steve.jpg" alt="Card image cap">
            <div class="card-block">
              <h4 class="card-title">Steve</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Comment</a>
            </div>
          </div>
       </div>
        <div class="col-lg-4">
          <div class="card" style="width: 20rem;">
            <img class="card-img-top" src="bill.jpg" alt="Card image cap">
            <div class="card-block">
              <h4 class="card-title">Bill</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Comment</a>
            </div>
          </div>
        </div>
      </div>



  </body>
</html>
